.alert-sunset {
    background-color: #f9e6e3;
    border-color: #B58780;
    color: #b58780;
}
.alert-mustard {
    background-color: #f7e2b5;
    border-color: #d1b67b;
    color: #ad8e4a;
}
.alert-baby {
    background-color: #b2d3e5;
    border-color: #83b1c9;
    color: #5488a3;
}
.alert-cocoa {
    background-color: #d0c7bd;
    border-color: #ada092;
    color: #8c7c6a;
}
