body {
  font-family: 'PT Sans';
}
.color-excel {
	font-size:48px;
	color:green;
}
.color-pdf {
	font-size:48px;
	color:red;
}
.color-word {
	font-size:48px;
	color:royalblue;
}
.color-code {
	font-size:48px;
	color:brown;
}
.color-image {
	font-size:48px;
	color:purple;
}
